@import "tailwindcss";

@theme {
  --font-sans: var(--font-quicksand), sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red-brand: #ff0099;
  --red-brand-light: #ff4ab7;
  --black-background: #050a14;
  --gray-text: #2a2a2b;
  --border-color: #e5e7eb;
}

body {
  font-family: "Quicksand", sans-serif;
  @apply w-full h-full;
}

nav {
  background-color: var(--black-background);
  border-bottom: 1px solid var(--gray-text);
  @apply flex flex-row items-center justify-between px-6 py-3 md:py-5 md:px-6 relative;
}

nav .nav-wrapper {
  @apply flex items-center justify-between w-full md:max-w-[724px] md:mx-auto lg:max-w-full;
}

nav ul {
  background-color: var(--black-background);
  box-shadow: 0px 0px 35px 2px var(--red-brand-light);
  @apply top-[10%] left-1/2 translate-x-[-50%] translate-y-[50%] absolute backdrop-blur z-20 px-10 py-17 rounded-2xl md:top-0  md:px-0 md:py-0 md:translate-x-[0] md:relative md:translate-y-0 md:left-0 md:rounded-none;
}
nav ul li {
  @apply pb-6 text-center md:pb-0;
}

nav ul li:hover a {
  color: #fff;
}

nav ul li a {
  font-weight: 600;
  color: #f5eded;
  @apply text-xl md:text-sm md:px-6;
}

nav .login button,
.login-btn {
  color: #fff;
  background-color: var(--red-brand);
  font-weight: 500;
  transition: all 0.3s linear;
  @apply px-6 py-2 text-sm font-bold rounded-full md:py-3 cursor-pointer;
}

nav .login button:hover,
.login-btn:hover {
  background-color: var(--red-brand-light);
}

/* login btn */

/* Banner */

/* Responsive Layout (unchanged) */

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #050a14;
  @apply py-12 gap-2 md:px-0 md:max-w-[724px] md:mx-auto lg:max-w-full lg:px-6;
}

.text-section {
  text-align: center;
  @apply max-w-[600px] md:max-w-[100%] text-center md:text-start px-6 md:px-0;
}

.main-tagline {
  color: #ff0099;
  border: 1px solid #ff009946;
  background-color: #ff009923;
  @apply mb-6 inline-block rounded-3xl text-[0.7rem] px-5 py-2 mx-auto;
}

.text-section h1 {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-6 text-white font-bold;
}

.highlighted-title {
  background: linear-gradient(to right, #ff0099, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.text-section p {
  @apply text-gray-300 font-light mb-6 text-lg;
}

.button-section {
  @apply flex flex-col gap-5 md:flex-row items-center justify-center md:items-start md:justify-between;
}

.button-section button,
.button-filled {
  @apply flex flex-row text-white items-center justify-center gap-3 w-full px-1 py-3 rounded-full  cursor-pointer lg:px-2 lg:gap-2;
}

.button-combo {
  @apply flex flex-col gap-2 w-full;
}

button span {
  @apply text-[1rem] font-bold transition-all duration-200 ease-linear;
}

button svg {
  height: 1.2rem;
  width: 1.2rem;
  @apply transition-all duration-200 ease-linear;
}

.button-outline {
  border: 1px solid rgb(109, 109, 109);
}

.button-filled {
  background-color: #ff0099;
}

.button-filled:hover {
  box-shadow: 2px 4px 10px #ff009965;
}

.button-section .button-combo .btn-tagline {
  @apply text-sm pt-2 text-gray-400;
}

button:hover span,
button:hover svg {
  transform: scale(1.1);
}
.button-section .button-outline:hover {
  border: 1px solid rgb(158, 158, 158);
  box-shadow: 2px 4px 10px #ff00993a;
}

/* Header card section */

.header-card {
  @apply hidden;
}
.header-card-lg {
  @apply md:hidden;
}

/* Banner header card */

.header-card-sm {
  @apply lg:hidden bg-gradient-to-b from-[#050a14] to-[#ff009915] mt-10 pb-10 grid grid-cols-1 grid-rows-3 gap-6 w-full px-6 md:mt-3 md:bg-none md:grid-cols-3 md:grid-rows-1 md:pb-0;
}

.header-card {
  @apply hidden lg:block  mt-10 pb-10 lg:grid grid-cols-3 grid-rows-1 gap-6 w-full mt-3  md:pb-0;
}

.card {
  background: #1f293780;
  border: 1px solid #e5e7eb3d;
  @apply flex flex-col rounded-2xl items-center justify-center gap-1 py-3 lg:py-4;
}

.card:hover {
  background: radial-gradient(circle at 50% 50%, #ff009911, #9b89b333);
}

.card h5 {
  @apply text-xl font-bold text-white;
}

.card span {
  @apply block text-gray-400 font-normal text-sm;
}

.card .card-icon {
  @apply text-2xl;
}

/* How it works */

section {
  background-color: #050a14;
  @apply w-full;
}

.section-wrapper {
  @apply px-6 max-w-full py-15 md:py-25 md:max-w-[724px] md:mx-auto lg:max-w-full text-white;
}

.section-heading {
  @apply mb-8;
}

.section-heading .section-title {
  @apply text-center text-3xl font-bold mb-4;
}

.section-heading .section-subtitle {
  @apply text-center text-lg text-gray-300;
}

.section-content {
  @apply grid grid-cols-1 grid-rows-[auto_auto] w-full relative gap-7 md:max-w-fit md:flex md:flex-row md:items-center md:justify-center md:mx-auto;
}

.section-content .section-info {
  @apply flex flex-col items-start justify-center w-full h-full md:justify-end md:items-end md:max-w-fit;
}

.section-info-container {
  @apply grid grid-cols-1 w-full grid-rows-[auto_auto_auto] gap-4 md:max-w-fit;
}

.section-info-container .section-card {
  @apply px-4 py-4 w-full bg-[#1F293780] border border-[#1F293780] rounded-2xl flex items-center justify-start gap-4;
}

.section-info-container .section-card .number-value {
  @apply h-9 w-9 bg-[#ff00991c] border border-[#ff009965] text-[#ff0099] rounded-full flex items-center justify-center text-sm font-bold;
}

.section-card-content {
  @apply flex flex-col items-start justify-center gap-2;
}

/* swipper */
.swiper-container {
  filter: drop-shadow(0px 0px 30px #ff009950);
  @apply relative w-[50%] h-[100%] mx-auto rounded-2xl overflow-hidden md:max-w-[18rem] lg:max-w-[25rem];
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  color: #ff0099 !important;
  background-color: #050a14;
  padding: 15px;
  border-radius: 50%;
  font-weight: 600;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: unset !important;
}

.swiper-pagination-bullet-active {
  background: #ff0099 !important;
}

.section-button {
  @apply text-center w-full mt-8;
}

.section-button button {
  @apply mx-auto;
}

/* Why choose us section */

.section-heading-why {
  @apply md:max-w-[600px] !block !mx-auto;
}

.section-title-why {
  @apply !text-4xl md:!text-5xl;
}
.section-content-cards {
  @apply pt-3;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1.5rem;
}

.cards-wrapper .feature-card {
  @apply bg-[#1F293780] border border-[#1F293780] rounded-2xl p-6 text-start cursor-pointer;
}

.feature-card .feature-card-img {
  @apply text-3xl mb-4;
}

.feature-card-heading {
  @apply text-xl font-bold mb-3;
}

.feature-card .feature-card-info {
  @apply text-[1rem] text-[#c2c2c2];
}

.feature-card:hover {
  background: radial-gradient(circle at 50% 50%, #ff009911, #9b89b333);
}

/* plans */

.plans-cards-wrapper {
  display: grid;
  width: 90%;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  margin-top: 5rem;
  position: relative;
}

.plans-card {
  @apply bg-[#1F293780] border border-[#1F293780] rounded-2xl py-7 px-6 transition-all duration-300 ease-linear;
}

.plan-highlight {
  @apply text-2xl font-bold pb-2;
}

.plan-name {
  @apply text-3xl font-bold pb-5;
}

.plan-name span {
  @apply text-sm font-light text-gray-400;
}
.plans-feature {
  @apply flex flex-col items-start justify-start gap-4;
}

.plans-feature li span {
  @apply text-xl mr-3;
}
.plans-feature li {
  @apply text-gray-200 text-[1rem];
}

.plan-cta {
  @apply mt-6 block w-full text-center transition-all duration-300 ease-linear bg-gray-600 hover:bg-gray-500 rounded-full py-3 text-[1rem] font-bold cursor-pointer;
}

.plans-card .plan-cta:hover .plans-card {
  transform: scale(1.1);
}

.plans-card-popular {
  @apply bg-gradient-to-br from-[#ff009928]  to-[#ff009915] border border-[#ff009946] relative;
}

.plans-card-popular::before {
  content: "Most Popular";
  position: absolute;
  background-color: white;
  padding: 5px 12px;
  color: #ff0099;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 1rem;
  top: 0;
  transform: translateY(-50%);
  right: 1rem;
}
.plans-card-popular .plan-cta {
  @apply bg-[#ff0099] hover:bg-[#ff0099d0];
}

.plans-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* FAQ Section */
#faq-section {
  background-color: #060f22;
}

.faq-section-contents {
  @apply mt-5 max-w-full lg:max-w-[724px] mx-auto;
}

.faq-block ul li {
  @apply mt-6;
}

.faq-block .faq-heading {
  @apply text-xl font-bold mb-3 text-amber-50;
}

.faq-block .faq-para {
  @apply text-[1rem] text-gray-300;
}

.faq-block ul li hr {
  color: #454553;
  @apply mt-6;
}

/* Footer */

footer h3 {
  @apply mb-4 text-[1rem] text-amber-50 font-semibold;
}

footer .quicklinks ul {
  @apply flex flex-row gap-5;
}

footer li {
  @apply text-sm text-gray-500 cursor-pointer;
}

footer .popular-services ul {
  @apply grid grid-cols-1 sm:grid-cols-2 ml-0 w-max gap-3;
}

footer .rights {
  @apply text-sm text-gray-400 text-center block mt-10;
}
footer hr {
  color: #282e3a;
  @apply my-6;
}

footer .disclaimer ul li {
  @apply mb-4;
}

/* Media queries */

@media (min-width: 768px) {
  nav ul {
    box-shadow: none;
  }

  .banner-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
  }
  .banner-wrapper {
    background-color: #050a14;
    position: relative;
    margin-inline: auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .banner-wrapper {
    width: 100%;
    /* background-image: url("./assets/bg-lg.jpg"); */
  }

  .banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: unset;
  }
}
