@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --red-brand: #ff0099;
  --red-brand-light: #ff4ab7;
  --black-background: #050a14;
  --gray-text: #2a2a2b;
  --border-color: #e5e7eb;
} */
.login-section {
  background-color: var(--black-background);
  @apply w-full h-screen relative flex items-start pt-7 justify-center text-white;
}

.login-section-wrapper {
  @apply w-full relative flex flex-col items-center justify-center;
}
.logo-login {
  @apply w-[10rem] mb-3;
}

.login-form-wrapper {
  
  @apply w-full mt-10 px-12 sm:max-w-[450px] sm:p-6 sm:border sm:border-[#5c4f64] sm:rounded-[2rem] sm:bg-[#140511];
}
.login-form-wrapper h2 {
  @apply text-center text-2xl font-bold;
}

.login-form-wrapper form {
  @apply mt-5;
}
.login-form-wrapper form .form-content {
  @apply mb-4 w-full;
}

.login-form-wrapper form .form-content label {
  @apply text-sm font-bold text-white mb-1 block;
}

.login-form-wrapper form .form-content input {
  background-color: rgb(25, 13, 34);
  @apply border transition-all duration-300 ease-linear focus:outline-1 border-[#332b35] focus:outline-amber-50 rounded-md text-sm font-bold w-full px-4 py-3;
}

.check-box {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
}

.check-box input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.check-box input[type="checkbox"]:checked {
  background-color: #ff0099; /* blue */
  border-color: #ff0099;
}

.check-box input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check-box input[type="checkbox"]:checked::after {
  opacity: 1;
}

.login-btn-section {
  @apply mt-10 text-center;
}
.login-btn-section span {
  @apply block mt-2 underline text-gray-500 text-sm font-bold hover:text-gray-300 cursor-pointer;
}
.login-btn-loginform {
  background-color: #ff0099;
  filter: drop-shadow(0px 0px 1px #fff);
  transition: all 0.3s linear;
  @apply px-4 py-2 rounded-md text-[1rem] font-bold cursor-pointer;
}

.login-btn-loginform:hover{
     filter: drop-shadow(0px 0px 2px #fff);
}

.login-via{
    @apply my-6 relative block text-center w-full;
}

.login-via::before{
    content: "";
    position: absolute;
    width:32%;
    height:100%;
    left:0;
    transform: translateY(-47%);
    border-bottom: 1px solid rgb(179, 179, 179);
}
.login-via::after{
    content: "";
    position: absolute;
    width:32%;
    height:100%;
    right:0;
    transform: translateY(-47%);
    border-bottom: 1px solid rgb(179, 179, 179);
}

.google-btn{
box-shadow: inset 0px 0px 10px 5px #cccccc49;
  background-color: #830550;
  filter: drop-shadow(0px 0px 1px #fff);
  transition: all 0.3s linear;
  @apply px-4 py-2 rounded-md text-[1rem] font-bold cursor-pointer
 flex flex-row  w-full items-center justify-center gap-3;

}

.google-btn img{
  @apply w-7 ;
}
.google-btn span{
  @apply text-sm;
}

.register-link{
  @apply  flex flex-row gap-3 w-full mt-5 items-center justify-center;
}

.register-link span{
  @apply text-gray-400 font-semibold text-[1rem];
}

.register-link p{
  @apply text-amber-50 font-bold text-[1rem];
}

.back-to-home{
  @apply mt-6 font-normal text-gray-500 underline cursor-pointer;
}